In [4]:
import pandas as pd

In [5]:
data = pd.read_csv ("Mall_Customers.csv")
data.head ()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [6]:
#detecting missing value
data.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
encoder = LabelEncoder ()
data ["Gender"] = encoder.fit_transform(data ["Gender"])
data.head ()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       1   19                  15                      39
1           2       1   21                  15                      81
2           3       0   20                  16                       6
3           4       0   23                  16                      77
4           5       0   31                  17                      40

In [9]:
feature = ["Gender", "Age", "Annual Income (k$)", "Spending Score (1-100)"]
x_data = data[feature]
x_data

     Gender  Age  Annual Income (k$)  Spending Score (1-100)
0         1   19                  15                      39
1         1   21                  15                      81
2         0   20                  16                       6
3         0   23                  16                      77
4         0   31                  17                      40
..      ...  ...                 ...                     ...
195       0   35                 120                      79
196       0   45                 126                      28
197       1   32                 126                      74
198       1   32                 137                      18
199       1   30                 137                      83

[200 rows x 4 columns]

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scales = StandardScaler ()
x_scaled = scales.fit_transform(x_data)
x_scaled

array([[ 1.12815215, -1.42456879, -1.73899919, -0.43480148],
       [ 1.12815215, -1.28103541, -1.73899919,  1.19570407],
       [-0.88640526, -1.3528021 , -1.70082976, -1.71591298],
       [-0.88640526, -1.13750203, -1.70082976,  1.04041783],
       [-0.88640526, -0.56336851, -1.66266033, -0.39597992],
       [-0.88640526, -1.20926872, -1.66266033,  1.00159627],
       [-0.88640526, -0.27630176, -1.62449091, -1.71591298],
       [-0.88640526, -1.13750203, -1.62449091,  1.70038436],
       [ 1.12815215,  1.80493225, -1.58632148, -1.83237767],
       [-0.88640526, -0.6351352 , -1.58632148,  0.84631002],
       [ 1.12815215,  2.02023231, -1.58632148, -1.4053405 ],
       [-0.88640526, -0.27630176, -1.58632148,  1.89449216],
       [-0.88640526,  1.37433211, -1.54815205, -1.36651894],
       [-0.88640526, -1.06573534, -1.54815205,  1.04041783],
       [ 1.12815215, -0.13276838, -1.54815205, -1.44416206],
       [ 1.12815215, -1.20926872, -1.54815205,  1.11806095],
       [-0.88640526, -0.27630176, -1.50998262, -0.59008772],
       [ 1.12815215, -1.3528021 , -1.50998262,  0.61338066],
       [ 1.12815215,  0.94373197, -1.43364376, -0.82301709],
       [-0.88640526, -0.27630176, -1.43364376,  1.8556706 ],
       [ 1.12815215, -0.27630176, -1.39547433, -0.59008772],
       [ 1.12815215, -0.99396865, -1.39547433,  0.88513158],
       [-0.88640526,  0.51313183, -1.3573049 , -1.75473454],
       [ 1.12815215, -0.56336851, -1.3573049 ,  0.88513158],
       [-0.88640526,  1.08726535, -1.24279661, -1.4053405 ],
       [ 1.12815215, -0.70690189, -1.24279661,  1.23452563],
       [-0.88640526,  0.44136514, -1.24279661, -0.7065524 ],
       [ 1.12815215, -0.27630176, -1.24279661,  0.41927286],
       [-0.88640526,  0.08253169, -1.20462718, -0.74537397],
       [-0.88640526, -1.13750203, -1.20462718,  1.42863343],
       [ 1.12815215,  1.51786549, -1.16645776, -1.7935561 ],
       [-0.88640526, -1.28103541, -1.16645776,  0.88513158],
       [ 1.12815215,  1.01549866, -1.05194947, -1.7935561 ],
       [ 1.12815215, -1.49633548, -1.05194947,  1.62274124],
       [-0.88640526,  0.7284319 , -1.05194947, -1.4053405 ],
       [-0.88640526, -1.28103541, -1.05194947,  1.19570407],
       [-0.88640526,  0.22606507, -1.01378004, -1.28887582],
       [-0.88640526, -0.6351352 , -1.01378004,  0.88513158],
       [-0.88640526, -0.20453507, -0.89927175, -0.93948177],
       [-0.88640526, -1.3528021 , -0.89927175,  0.96277471],
       [-0.88640526,  1.87669894, -0.86110232, -0.59008772],
       [ 1.12815215, -1.06573534, -0.86110232,  1.62274124],
       [ 1.12815215,  0.65666521, -0.82293289, -0.55126616],
       [-0.88640526, -0.56336851, -0.82293289,  0.41927286],
       [-0.88640526,  0.7284319 , -0.82293289, -0.86183865],
       [-0.88640526, -1.06573534, -0.82293289,  0.5745591 ],
       [-0.88640526,  0.80019859, -0.78476346,  0.18634349],
       [-0.88640526, -0.85043527, -0.78476346, -0.12422899],
       [-0.88640526, -0.70690189, -0.78476346, -0.3183368 ],
       [-0.88640526, -0.56336851, -0.78476346, -0.3183368 ],
       [-0.88640526,  0.7284319 , -0.70842461,  0.06987881],
       [ 1.12815215, -0.41983513, -0.70842461,  0.38045129],
       [-0.88640526, -0.56336851, -0.67025518,  0.14752193],
       [ 1.12815215,  1.4460988 , -0.67025518,  0.38045129],
       [-0.88640526,  0.80019859, -0.67025518, -0.20187212],
       [ 1.12815215,  0.58489852, -0.67025518, -0.35715836],
       [-0.88640526,  0.87196528, -0.63208575, -0.00776431],
       [ 1.12815215,  2.16376569, -0.63208575, -0.16305055],
       [-0.88640526, -0.85043527, -0.55574689,  0.03105725],
       [ 1.12815215,  1.01549866, -0.55574689, -0.16305055],
       [ 1.12815215,  2.23553238, -0.55574689,  0.22516505],
       [ 1.12815215, -1.42456879, -0.55574689,  0.18634349],
       [-0.88640526,  2.02023231, -0.51757746,  0.06987881],
       [-0.88640526,  1.08726535, -0.51757746,  0.34162973],
       [ 1.12815215,  1.73316556, -0.47940803,  0.03105725],
       [ 1.12815215, -1.49633548, -0.47940803,  0.34162973],
       [-0.88640526,  0.29783176, -0.47940803, -0.00776431],
       [-0.88640526,  2.091999  , -0.47940803, -0.08540743],
       [ 1.12815215, -1.42456879, -0.47940803,  0.34162973],
       [-0.88640526, -0.49160182, -0.47940803, -0.12422899],
       [ 1.12815215,  2.23553238, -0.4412386 ,  0.18634349],
       [-0.88640526,  0.58489852, -0.4412386 , -0.3183368 ],
       [-0.88640526,  1.51786549, -0.40306917, -0.04658587],
       [-0.88640526,  1.51786549, -0.40306917,  0.22516505],
       [ 1.12815215,  1.4460988 , -0.25039146, -0.12422899],
       [ 1.12815215, -0.92220196, -0.25039146,  0.14752193],
       [-0.88640526,  0.44136514, -0.25039146,  0.10870037],
       [ 1.12815215,  0.08253169, -0.25039146, -0.08540743],
       [-0.88640526, -1.13750203, -0.25039146,  0.06987881],
       [-0.88640526,  0.7284319 , -0.25039146, -0.3183368 ],
       [ 1.12815215,  1.30256542, -0.25039146,  0.03105725],
       [ 1.12815215, -0.06100169, -0.25039146,  0.18634349],
       [ 1.12815215,  2.02023231, -0.25039146, -0.35715836],
       [-0.88640526,  0.51313183, -0.25039146, -0.24069368],
       [-0.88640526, -1.28103541, -0.25039146,  0.26398661],
       [ 1.12815215,  0.65666521, -0.25039146, -0.16305055],
       [-0.88640526,  1.15903204, -0.13588317,  0.30280817],
       [-0.88640526, -1.20926872, -0.13588317,  0.18634349],
       [-0.88640526, -0.34806844, -0.09771374,  0.38045129],
       [-0.88640526,  0.80019859, -0.09771374, -0.16305055],
       [-0.88640526,  2.091999  , -0.05954431,  0.18634349],
       [ 1.12815215, -1.49633548, -0.05954431, -0.35715836],
       [ 1.12815215,  0.65666521, -0.02137488, -0.04658587],
       [-0.88640526,  0.08253169, -0.02137488, -0.39597992],
       [-0.88640526, -0.49160182, -0.02137488, -0.3183368 ],
       [ 1.12815215, -1.06573534, -0.02137488,  0.06987881],
       [-0.88640526,  0.58489852, -0.02137488, -0.12422899],
       [-0.88640526, -0.85043527, -0.02137488, -0.00776431],
       [ 1.12815215,  0.65666521,  0.01679455, -0.3183368 ],
       [ 1.12815215, -1.3528021 ,  0.01679455, -0.04658587],
       [-0.88640526, -1.13750203,  0.05496398, -0.35715836],
       [-0.88640526,  0.7284319 ,  0.05496398, -0.08540743],
       [ 1.12815215,  2.02023231,  0.05496398,  0.34162973],
       [ 1.12815215, -0.92220196,  0.05496398,  0.18634349],
       [ 1.12815215,  0.7284319 ,  0.05496398,  0.22516505],
       [-0.88640526, -1.28103541,  0.05496398, -0.3183368 ],
       [-0.88640526,  1.94846562,  0.09313341, -0.00776431],
       [ 1.12815215,  1.08726535,  0.09313341, -0.16305055],
       [ 1.12815215,  2.091999  ,  0.09313341, -0.27951524],
       [ 1.12815215,  1.94846562,  0.09313341, -0.08540743],
       [ 1.12815215,  1.87669894,  0.09313341,  0.06987881],
       [-0.88640526, -1.42456879,  0.09313341,  0.14752193],
       [-0.88640526, -0.06100169,  0.13130284, -0.3183368 ],
       [ 1.12815215, -1.42456879,  0.13130284, -0.16305055],
       [-0.88640526, -1.49633548,  0.16947227, -0.08540743],
       [-0.88640526, -1.42456879,  0.16947227, -0.00776431],
       [-0.88640526,  1.73316556,  0.16947227, -0.27951524],
       [-0.88640526,  0.7284319 ,  0.16947227,  0.34162973],
       [-0.88640526,  0.87196528,  0.24581112, -0.27951524],
       [-0.88640526,  0.80019859,  0.24581112,  0.26398661],
       [ 1.12815215, -0.85043527,  0.24581112,  0.22516505],
       [-0.88640526, -0.06100169,  0.24581112, -0.39597992],
       [-0.88640526,  0.08253169,  0.32214998,  0.30280817],
       [ 1.12815215,  0.010765  ,  0.32214998,  1.58391968],
       [-0.88640526, -1.13750203,  0.36031941, -0.82301709],
       [-0.88640526, -0.56336851,  0.36031941,  1.04041783],
       [ 1.12815215,  0.29783176,  0.39848884, -0.59008772],
       [ 1.12815215,  0.08253169,  0.39848884,  1.73920592],
       [ 1.12815215,  1.4460988 ,  0.39848884, -1.52180518],
       [ 1.12815215, -0.06100169,  0.39848884,  0.96277471],
       [ 1.12815215,  0.58489852,  0.39848884, -1.5994483 ],
       [ 1.12815215,  0.010765  ,  0.39848884,  0.96277471],
       [-0.88640526, -0.99396865,  0.43665827, -0.62890928],
       [-0.88640526, -0.56336851,  0.43665827,  0.80748846],
       [ 1.12815215, -1.3528021 ,  0.4748277 , -1.75473454],
       [-0.88640526, -0.70690189,  0.4748277 ,  1.46745499],
       [-0.88640526,  0.36959845,  0.4748277 , -1.67709142],
       [ 1.12815215, -0.49160182,  0.4748277 ,  0.88513158],
       [ 1.12815215, -1.42456879,  0.51299713, -1.56062674],
       [-0.88640526, -0.27630176,  0.51299713,  0.84631002],
       [-0.88640526,  1.30256542,  0.55116656, -1.75473454],
       [ 1.12815215, -0.49160182,  0.55116656,  1.6615628 ],
       [-0.88640526, -0.77866858,  0.58933599, -0.39597992],
       [-0.88640526, -0.49160182,  0.58933599,  1.42863343],
       [ 1.12815215, -0.99396865,  0.62750542, -1.48298362],
       [ 1.12815215, -0.77866858,  0.62750542,  1.81684904],
       [ 1.12815215,  0.65666521,  0.62750542, -0.55126616],
       [-0.88640526, -0.49160182,  0.62750542,  0.92395314],
       [-0.88640526, -0.34806844,  0.66567484, -1.09476801],
       [ 1.12815215, -0.34806844,  0.66567484,  1.54509812],
       [ 1.12815215,  0.29783176,  0.66567484, -1.28887582],
       [ 1.12815215,  0.010765  ,  0.66567484,  1.46745499],
       [-0.88640526,  0.36959845,  0.66567484, -1.17241113],
       [-0.88640526, -0.06100169,  0.66567484,  1.00159627],
       [-0.88640526,  0.58489852,  0.66567484, -1.32769738],
       [-0.88640526, -0.85043527,  0.66567484,  1.50627656],
       [ 1.12815215, -0.13276838,  0.66567484, -1.91002079],
       [-0.88640526, -0.6351352 ,  0.66567484,  1.07923939],
       [ 1.12815215, -0.34806844,  0.66567484, -1.91002079],
       [-0.88640526, -0.6351352 ,  0.66567484,  0.88513158],
       [-0.88640526,  1.23079873,  0.70384427, -0.59008772],
       [-0.88640526, -0.70690189,  0.70384427,  1.27334719],
       [ 1.12815215, -1.42456879,  0.78018313, -1.75473454],
       [-0.88640526, -0.56336851,  0.78018313,  1.6615628 ],
       [ 1.12815215,  0.80019859,  0.93286085, -0.93948177],
       [-0.88640526, -0.20453507,  0.93286085,  0.96277471],
       [ 1.12815215,  0.22606507,  0.97103028, -1.17241113],
       [-0.88640526, -0.41983513,  0.97103028,  1.73920592],
       [-0.88640526, -0.20453507,  1.00919971, -0.90066021],
       [ 1.12815215, -0.49160182,  1.00919971,  0.49691598],
       [ 1.12815215,  0.08253169,  1.00919971, -1.44416206],
       [ 1.12815215, -0.77866858,  1.00919971,  0.96277471],
       [ 1.12815215, -0.20453507,  1.00919971, -1.56062674],
       [ 1.12815215, -0.20453507,  1.00919971,  1.62274124],
       [-0.88640526,  0.94373197,  1.04736914, -1.44416206],
       [-0.88640526, -0.6351352 ,  1.04736914,  1.38981187],
       [ 1.12815215,  1.37433211,  1.04736914, -1.36651894],
       [ 1.12815215, -0.85043527,  1.04736914,  0.72984534],
       [ 1.12815215,  1.4460988 ,  1.23821628, -1.4053405 ],
       [ 1.12815215, -0.27630176,  1.23821628,  1.54509812],
       [-0.88640526, -0.13276838,  1.390894  , -0.7065524 ],
       [-0.88640526, -0.49160182,  1.390894  ,  1.38981187],
       [ 1.12815215,  0.51313183,  1.42906343, -1.36651894],
       [-0.88640526, -0.70690189,  1.42906343,  1.46745499],
       [-0.88640526,  0.15429838,  1.46723286, -0.43480148],
       [ 1.12815215, -0.6351352 ,  1.46723286,  1.81684904],
       [-0.88640526,  1.08726535,  1.54357172, -1.01712489],
       [ 1.12815215, -0.77866858,  1.54357172,  0.69102378],
       [-0.88640526,  0.15429838,  1.61991057, -1.28887582],
       [-0.88640526, -0.20453507,  1.61991057,  1.35099031],
       [-0.88640526, -0.34806844,  1.61991057, -1.05594645],
       [-0.88640526, -0.49160182,  1.61991057,  0.72984534],
       [ 1.12815215, -0.41983513,  2.00160487, -1.63826986],
       [-0.88640526, -0.06100169,  2.00160487,  1.58391968],
       [-0.88640526,  0.58489852,  2.26879087, -1.32769738],
       [-0.88640526, -0.27630176,  2.26879087,  1.11806095],
       [-0.88640526,  0.44136514,  2.49780745, -0.86183865],
       [ 1.12815215, -0.49160182,  2.49780745,  0.92395314],
       [ 1.12815215, -0.49160182,  2.91767117, -1.25005425],
       [ 1.12815215, -0.6351352 ,  2.91767117,  1.27334719]])

In [12]:
k = 3

from sklearn.cluster import KMeans
model = KMeans(k).fit(x_scaled)
data["Cluster"] = model.labels_
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)  Cluster
0           1       1   19                  15                      39        1
1           2       1   21                  15                      81        1
2           3       0   20                  16                       6        1
3           4       0   23                  16                      77        1
4           5       0   31                  17                      40        1

In [13]:
display (data.groupby("Cluster")[feature].mean())

           Gender        Age  Annual Income (k$)  Spending Score (1-100)
Cluster
0        0.441860  33.325581           88.511628               77.813953
1        0.406250  25.312500           43.171875               56.031250
2        0.462366  50.720430           59.602151               33.419355